<%= form_for [@todo_list, @todo_item] do |f| %>
	<div id="error_explanation">
	  <% unless @todo_item.errors.empty? %>
	  	<h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this to_do_list from being saved:</h2>
	  <% end %>

	  <ul>
	  <% @todo_item.errors.full_messages.each do |message| %>
	    <li><%= message %></li>
	  <% end %>
	  </ul>
	</div>

	<%= f.label :content %>
	<%= f.text_field :content %>
	<%= f.submit "Save" %>
<% end %>
