<h1 class="list_title"><%= @todo_list.title %> </h1>

<table class="todo_list">
	<thead>
		<tr> 
			<th width="25%"> Complited? </th> 
			<th width="60%"> Items </th> 
			<th width="15%"> Options </th> 
		</tr>
	</thead>

	<tbody>
	<% @todo_list.todo_items.each do |todo_item|%>
		<tr id="<%= dom_id(todo_item) %>"> 
			<% if todo_item.completed? %>
				<td> <%= todo_item.complited_at%> </td>
			<% else %>
				<td>  <%= link_to "Mark Complete", complete_to_do_list_todo_item_path(todo_item), method: :patch%> </td>
			<% end %>
			<td> <%= todo_item.content %> </td>
			<td> <%= link_to "Edit", edit_to_do_list_todo_item_path(todo_item) %> </td>
			<td> <%= link_to "Delete", to_do_list_todo_item_path(todo_item), method: :delete, data: { confirm: "Are you sure??"} %> </td>
			
		</tr>	
	<% end %>
</tbody>
</table>

<p>
	<%= link_to "New Todo Item", new_to_do_list_todo_item_path%>
</p>