<h1>Todo Lists</h1>

<% @to_do_lists.each do |to_do_list| %>
  <div class="todo_list" id="<%= dom_id(to_do_list) %>">
    <h2><%= to_do_list.title %></h2>
    <p><%= to_do_list.description %></p>
    <ul class="functions">
      <li><%= link_to 'List Items', to_do_list_todo_items_path(to_do_list) %> </li>
      <li><%= link_to 'Show', to_do_list %> </li>
      <li><%= link_to 'Edit', edit_to_do_list_path(to_do_list) %> </li>
      <li><%= link_to 'Destroy', to_do_list, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
    </ul>
  </div>
  <br class="clear">
<% end %>

<br>
<%= link_to 'New To do list', new_to_do_list_path %>
