// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.todo_items{
	width: 100%;

	th {
		text-align: left;
	}
}